* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    transition: 1s;
}

.newGame{
    display: flex;
    position: absolute;
    width: 150px;
    transform: translate(-150%, 900%);
    color: red;
    font-size: 1.1em;
    background-color: black;
    justify-content: center;
    border: 1px solid red;
    border-radius: 8px;
    padding: .5em 1em;
    margin: 2em 0;
    cursor: pointer;
    outline: none;
}

.newGame:hover {
    border-color: limegreen;
    color: limegreen;
    animation: animateBorder .5s infinite
}

.instructions {
    display: flex;
    position: absolute;
    width: 150px;
    transform: translate(150%, 900%);
    color: red;
    font-size: 1.1em;
    background-color: black;
    justify-content: center;
    border: 1px solid red;
    border-radius: 8px;
    padding: .5em 1em;
    margin: 2em 0;
    cursor: pointer;
    outline: none;
}

.instructions:hover {
    border-color: limegreen;
    color: limegreen;
}

.modal {
    display: none; /* Hidden by default */
    position: relative; /* Stay in place */
    transform: translate(-30%,0%);
    z-index: 1; /* Sit on top */
    padding-top: 40px; /* Location of the box */
    padding-left: 10px;
    padding-right: 10px;
    left: 0;
    top: 0;
    width: 500px; /* Full width */
    height: 350px; /* Full height */
    font-family: 'orbitron';
    color: greenyellow;
    overflow: auto; /* Enable scroll if needed */
    background-color: black; /* Black w/ opacity */
    box-shadow: 0px 0px 15px 15px darkred;
}

/* Modal Content */
.modal-content {
    font-family: 'orbitron', sans-serif;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: whitesmoke;
    position: absolute;
    transform: translate(2600%, -100%);
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
}

#highScoreInfo {
    color: lime;
    position: absolute;
    font-family: 'orbitron';
    font-size: 1.8em;
    margin-top: -700px;
    padding: 10px;
    z-index: 999;
}

.gameStatus{
    position: absolute;
    transform: translate(-50%, -1700%);
    font-family: 'orbitron';
    font-size: 80px;
    font-weight: bolder;
    text-align: center;
    color: red;
    text-shadow: purple;
}
#canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 600px;
    background: url("Sprites/Background/AlienBackground.png") center center / 100% 100% no-repeat,
    url("Sprites/Background/giphy.gif") center center / 100% 100% no-repeat;
    font-family: 'orbitron', sans-serif;
    box-shadow: 0px 0px 15px 15px;
    animation: animateBorder 15s infinite;
}

@keyframes animateBorder {
    0%   {box-shadow: 0px 0px 15px 15px limegreen;}
    19%  {box-shadow: 0px 0px 15px 15px darkgreen;}
    34%  {box-shadow: 0px 0px 15px 15px darkblue;}
    49%  {box-shadow: 0px 0px 15px 15px blue;}
    64%  {box-shadow: 0px 0px 15px 15px darkblue;}
    79%  {box-shadow: 0px 0px 15px 15px darkgreen;}
    100%   {box-shadow: 0px 0px 15px 15px limegreen;}
}

#startGame {
    transform: translate(0, 200px);
    animation: none;
    border-color: red;
    background-color: transparent;
}

#startGame:hover {
    border-color: limegreen;
    color: limegreen;
}

#canvas1.active{
    border-color: limegreen;
    color: limegreen;
    animation: animateBorder .5s infinite;
}

#lightDark{
    transform: translate(0%, 375px);
    animation: none;
}
#lightDark:hover {
    border-color: limegreen;
    color: limegreen;
}
.lightMode {
    background-color: darkgray;
    transition: background-color 1s;
}

#newsBanner {
    position: absolute;
    color: #e9ecee;
    height: 20px;
    width: 900px;
    transform: translate(0, -320px);
    overflow: hidden;
}

#newsBanner #slider {
    font-size: 0;
    height: 100%;
    width: calc(900px * 10);
    margin-left: 0px;
    animation: animateNews 200s infinite linear;
}

#newsBanner .testTitle {
    display: inline-block;
    font-size: initial;
    height: 100%;
    width: 900px;
}

@keyframes animateNews {
    0%   {margin-left: 0px}
    100%  {margin-left:  calc(-900px * 9)}

}